<div class="chat">
  {{#if topic.id}}
    <div class="chat-sidebar">
      {{mount-widget widget="babble-channels" availableTopics=availableTopics}}
    </div>
    <div class="chat-pane">
      {{mount-widget widget="babble-chat" topic=topic}}
    </div>
  {{else}}
    {{loading-spinner}}
  {{/if}}
</div>
