{{#menu-panel visible=visible}}
  <section class="babble-chat">
    <ul class="babble-posts">
      {{#each post in topic.postStream.posts}}
        {{babble-post post=post topic=topic}}
      {{/each}}
      {{conditional-loading-spinner condition=topic.postStream.loadingBelow}}
    </ul>
    {{babble-composer}}
  </section>
{{/menu-panel}}
