<section class="babble-chat">
  {{#conditional-loading-spinner condition=loading}}
    <ul class="babble-posts">
      {{#each post in topic.postStream.posts}}
        {{babble-post post=post topic=topic}}
      {{/each}}
      {{conditional-loading-spinner condition=topic.postStream.loadingBelow}}
    </ul>
    {{babble-composer}}
  {{/conditional-loading-spinner}}
</section>
