<section class="babble-chat">
  {{#conditional-loading-spinner condition=loading}}
    <ul class="babble-posts">
      {{conditional-loading-spinner condition=model.postStream.loadingAbove}}
      {{#each post in model.postStream.posts}}
        {{babble-post post=post stream=postStream}}
      {{/each}}
      {{conditional-loading-spinner condition=model.postStream.loadingBelow}}
    </ul>
    {{babble-composer}}
  {{/conditional-loading-spinner}}
</section>