{{#if babbleEnabled}}
  {{#header-dropdown iconId="babble-notifications"
                     icon=Discourse.SiteSettings.babble_icon
                     toggleVisible=babbleVisible
                     loginAction="showLogin"
                     title=Discourse.SiteSettings.babble_title}}
  {{/header-dropdown}}
  {{#if unreadCount}}
    <a href class='badge-notification unread-notifications'>{{unreadCount}}</a>
  {{/if}}
{{/if}}
