{{#if babbleEnabled}}
  {{#header-dropdown iconId="babble-notifications"
                     icon=babbleIcon
                     toggleVisible=babbleVisible
                     loginAction="showLogin"
                     title="babble.title"}}
  {{/header-dropdown}}
  {{#if unreadCount}}
    <a href class='badge-notification unread-notifications'>
      <span>{{unreadCount}}</span>
      {{#if hasAdditionalUnread}}
        <span>+</span>
      {{/if}}
    </a>
  {{/if}}
{{/if}}
