<label class="control-label">{{i18n 'babble.preferences.title'}}</label>
{{inline-edit-checkbox action="toggleChat" labelKey="babble.preferences.babble_disabled" checked=user.custom_fields.babble_disabled}}
{{inline-edit-checkbox action="toggleChat" labelKey="babble.preferences.babble_sound" checked=user.custom_fields.babble_sound}}
