/* Dropdown styles */
.babble-icon {
  position: relative;
}

.babble-title h4 {
  float: left;
  padding-right: 8px;
}

.babble-title i {
  color: #ccc;
}

.babble-context-toggle {
  &.for-chat { float: left; }
  &.for-topics { float: right; }
}

/* Post styles */
.babble-posts {
  overflow: auto;
}

.babble-empty-topic-message {
  color: #ccc;
  text-align: center;
  padding: 25% 0;
}

.babble-post .babble-post-avatar a,
.babble-post .post-date {
  background-color: transparent !important; /* sorry mom. */
}

.babble-post {
  position: relative;
  list-style-type: none;
  clear: both;
}

.babble-post:hover, .babble-available-topic:hover {
  background-color: #f8f8ff;
}

.babble-post-content {
  display: table-cell;
  vertical-align: top;
}

.babble-post-content .post-info {
  width: 40px;
  text-align: right;
}

.babble-last-read-post-message {
  font-size: 8px;
  float: right;
  line-height: 10px;
  padding-left: 5px;
}

li.babble-post .babble-post-content a.mention {
  display: inline;
  padding: 0;
}

.babble-post-avatar img {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px 5px 0 0;
}

.babble-post-body {
  padding-top: 5px;
  width: 100%;
}

.babble-post-info {
  padding-top: 5px;
}

.babble-post-meta-data {
  padding-top: 5px;
}

.babble-post .post-info {
  display: inline-block;
}

.babble-post .post-date {
  padding: 5px 0 0 0;
}

.babble-post .read-state {
  position: static;
  display: inline-block;
}

/* Available topic styles */

.babble-available-topic {
  line-height: 35px;
  cursor: pointer;
  font-weight: bold;
  padding-left: 15px;
}

/* Composer styles */

.babble-post-composer {
  bottom: 10px;
  width: 300px;
}

.babble-post-composer textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  resize: none;
}

.babble-post-composer button.wmd-emoji-button {
  position: absolute;
  top: 2px;
  right: -2px;
  color: #888;
}

.babble-post .babble-post-body .cooked img {
  max-width: 223px; /* 12 extra px for Edge, don't ask... */
  height: auto;
}

.babble-composer-error-message {
  color: red;
  font-size: 10px;
  float: right;
  padding-right: 10px;
}

/* Dropdown styles */

.babble-menu {
  .slide-in { // styles for slide-in menu
    box-sizing: border-box;
    padding: 30px 5px 160px 5px;
    min-height: 100vh;

    .panel-body {
      position: relative;
    }
    .babble-title-wrapper, .babble-post-composer {
      position: fixed;
      z-index: -1;
    }

    .babble-title {
      position: relative;
      bottom: 20px;
    }
  }
  .drop-down { // styles for drop-down menu
    .panel-body {
      margin-top: 30px;
      margin-bottom: 100px;
      max-height: 330px;
    }
    .babble-title-wrapper, .babble-post-composer {
      position: absolute;
      z-index: -1;
    }

    .babble-title {
      position: relative;
      bottom: 20px;
    }
  }
}

/* Discourse overrides */

.babble-chat button.normalized {
  background: transparent;
  border: 0;
}

// Some (∩｀-´)⊃━☆ﾟ.*･｡ﾟ ༄ for moving the private message icon back to the correct place
.d-header .icons .unread-private-messages {
  left: 121px;
}
