/* Sidebar styles */
.sidebar{
  width: 22%;
  float: left;
}
.container.list-container.with-sidebar{
  float: left;
  margin: 0 2.7%;
  width: 70%;
}
.sidebar-content{
  height: 200px;
}
@media all and (min-width: 1000px) and (max-width: 1139px){
  .container{
    width: 70%;
  }
  .full-width {
    width: 100%;
  };
  .container.list-container.with-sidebar{
    margin: 0 0.7%;
  }
}

@media all and (min-width: 0) and (max-width: 800px) and (min-device-width: 0) and (max-device-width: 800px){
  .sidebar{
    display: none;
  }
  .container.list-container.with-sidebar{
    width: 100%;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Post styles */
.babble-post {
  position: relative;
}

.babble-post-avatar {
  float: left;
}

.babble-post-avatar img {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.babble-post-body {
  padding-top: 5px;
  float: left;
}

.babble-post-info {
  padding-top: 5px;
  float: left;
}

.babble-post-meta-data {
  position: absolute;
  right: 5px;
  line-height: 30px;
}

.babble-post .post-info {
  display: inline-block;
}

.babble-post .post-date {
  padding: 5px 0 0 0;
}

.babble-post .read-state {
  position: static;
  display: inline-block;
}