/* Icon styles */
#babble-icon {
  position: relative;
}

/* Dropdown styles */

.babble-menu {
  text-align: left;
}

.babble-title-wrapper {
  line-height: 32px;
  @media (max-width: 700px) {
    font-size: 17px;
    line-height: 35px;
  }
}

.babble-title h4 {
  display: inline-block;
  margin-right: 5px;
}

.babble-title i {
  color: #ccc;
}

.d-header .icons .babble-title [class^="fa fa-"] {
  font-size: 15px;
}

.babble-context-toggle {
  position: relative;
  outline: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  @media (max-width: 700px) { line-height: 35px; }
  vertical-align: top;
  z-index: 1;
  &:hover .babble-context-toggle-tooltip { opacity: 1; }
}

.babble-context-toggle-tooltip {
  opacity: 0;
  transition: .5s opacity;
  pointer-events: none;
  position: absolute;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  background: #fefefe;
  font-size: 13px;
  line-height: 18px;
  color: black;
  padding: 5px;
  word-wrap: normal;
  min-width: 150px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  &:after {
    content: ' ';
    width: 7px;
    height: 7px;
    top: 0;
    left: 50%;
    transform: rotate(45deg) translate(-50%, 0);
    position: absolute;
    background: #fefefe;
  }
}

@-moz-document url-prefix() {
  .babble-context-toggle-tooltip {
    top: 25px;
  }
}

.babble-menu-modals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.babble-modal {
  background-color: black;
  opacity: 0.9;
  z-index: 1000;
  color: white;
  .modal-body {
    opacity: 1;
  }
  .radios {
    padding-top: 5px;
    line-height: 30px;
    > * {
      display: inline-block;
    }
    #filename-input {
      display: inline-block;
      line-height: initial;
      color: white;
    }
    .radio {
      padding-left: 5px;
    }
  }
  .hint {
    font-size: 0.929em;
  }
  .modal-footer {
    border: none;
    padding: 10px 15px;
  }
}

/* Post styles */
.babble-posts {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.babble-empty-topic-message {
  color: #ccc;
  text-align: center;
  padding: 25% 0;
}

.babble-post {
  width: 100%;
  display: inline-block;
  margin: 7px 0;
}

.babble-post-avatar {
  float: left;
  margin-right: 6px;
}

.babble-post-content {
  overflow: hidden;
  position: relative;
  .babble-post-cooked {
    overflow: hidden;
    margin-top: 4px;
  }
  .babble-post-date {
    float: right;
    line-height: 25px;
  }
}

.babble-staged-post {
  opacity: 0.5;
  .spinner-container {
    position: absolute;
    top: 2px;
    right: 0;
  }
}

.babble-post-container {
  margin-right: 10px;
  &:hover {
    .babble-post-actions { opacity: 1; }
  }
  .babble-post-actions {
    position: absolute;
    right: 0;
    top: 5px;
    opacity: 0;
    background-color: #f8f8ff;
    i.fa {
      width: initial;
      height: initial;
      font-size: initial;
      line-height: initial;
      display: inline-block;
      color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
      margin-left: 3px;
    }
  }
}

.babble-menu .spinner {
  height: 10px;
  width: 10px;
  margin: 0 auto;
}

.babble-deleted-post {
  font-style: italic;
}

.babble-post-user-deleted {
  .babble-post-avatar, .babble-post-body, .post-date, .babble-post-actions button { opacity: 0.5 }
  .cooked { font-size: 11px; }
}

.babble-post-staff-deleted {
  display: none;
}

.babble-post .babble-post-avatar a,
.babble-post .post-date {
  background-color: transparent !important; /* sorry mom. */
}

.babble-post:hover, .babble-available-topic:hover {
  background-color: #f8f8ff;
}

.babble-post-content .post-info {
  width: 32px;
  text-align: right;
}

.babble-post-content p {
  margin: 0;
}

.babble-last-read-post-message {
  font-size: 8px;
  line-height: 10px;
  padding: 0 10px 0 5px;
  float: right;
}

.babble-last-read-wrapper {
  margin-top: 15px;
}

li.babble-post .babble-post-content a.mention {
  display: inline;
  padding: 0;
}

.babble-post-info {
  padding-top: 5px;
}

.babble-post .post-info {
  display: inline-block;
}

.babble-post .post-date {
  padding: 5px 0 0 0;
}

.babble-post .read-state {
  position: static;
  display: inline-block;
}

/* Available topic styles */
.babble-available-topics {
  padding-top: 10px !important; /* sorry mom. */
}

.babble-available-topic {
  line-height: 32px;
  cursor: pointer;
  font-weight: bold;
  padding-left: 15px;
  position: relative;
  @media (max-width: 700px) {
    padding: 10px 20px;
  }
}

.babble-available-topic a {
  color: #888;
  float: left;
  width: 100%;
}

.babble-available-topic .spinner {
  position: absolute;
  top: 8px;
  right: 12px;
}

/* Composer styles */

.babble-post-composer {
  margin: 0 1px 8px;
}

.babble-composer-wrapper {
  position: relative;
}

.babble-post-composer textarea {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: middle;
  border: none;
  box-sizing: border-box;
  margin: 5px 2px 0 0;
  resize: none;
  width: 100%;
  min-height: 30px;
  padding: 6px 24px 6px 6px;
}

.babble-post-composer .emoji-button {
  position: absolute;
  bottom: -2px;
  right: -2px;
  font-size: 12px;
  background: none;
  border: none;
  display: inline-block;
  vertical-align: bottom;
  padding: 0;
}

.babble-post-composer .btn-submit {
  margin-top: 5px;
}

.babble-post-composer .btn-cancel {
  margin-top: 5px;
  margin-right: 5px;
}

.babble-post-composer .autocomplete {
  left: 15% !important;
  width: 70%;
  text-align: left;

  span.username {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
  }

  span.name {
    float: right;
    width: inherit !important;
    max-width: 28%;
  }
}

.babble-post-composer .file-uploading {
  float: left;
  .spinner {
    vertical-align: middle;
  }
}

.babble-post .babble-post-body .cooked img {
  max-width: 223px; /* 12 extra px for Edge, don't ask... */
  height: auto;
}

.babble-composer .btn-primary {
  margin: 3px 1px;
}

.babble-composer-editing-buttons {
  margin: 5px 0;
  button { padding: 3px 6px; }
}

.babble-composer-error-message {
  color: red;
  font-size: 10px;
  padding-right: 10px;
}

.babble-create-post {
  float: none;
}

/* Dropdown styles */

.babble-menu {
  .slide-in { // styles for slide-in menu
    box-sizing: border-box;
    height: calc(100vh - 63px) !important;
    @media (max-width: 450px) { width: 100% !important; }
  }
  .babble-chat {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .babble-title-wrapper {
    flex: 0 1 auto;
  }
  .babble-list {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
  }
  .babble-post-composer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

.babble-menu .panel-body {
  overflow: hidden;
  width: 100%;
}

.babble-menu .panel-body-contents {
  height: 100%;
}

/* Admin styles */
.babble-admin-disabled {
  font-weight: bold;
  text-align: center;
}

/* Discourse overrides */
@media (min-width: 700px) {
  .babble-post       button.dropdown-toggle { opacity: 0; }
  .babble-post:hover button.dropdown-toggle { opacity: 1; }
  .babble-chat > .babble-post-composer .btn-submit { display: none; }
}

.babble-chat button.normalized {
  background: transparent;
  border: 0;
  padding: 0;
  @media (max-width: 700px) {
    font-size: 17px;
  }
}
