<label class="control-label">{{i18n 'babble.preferences.title'}}</label>
{{preference-checkbox labelKey="babble.preferences.babble_disabled" checked=model.custom_fields.babble_disabled}}
{{preference-checkbox labelKey="babble.preferences.babble_sound" checked=model.custom_fields.babble_sound}}
{{preference-checkbox labelKey="babble.preferences.babble_open_by_default" checked=model.custom_fields.babble_open_by_default}}
